In [1]:
#Import Libraries
import pyspark
from pyspark import SQLContext

In [2]:
# Setup the Configuration
conf = pyspark.SparkConf()
spark_context = SparkSession.builder.getOrCreate()

# Add Data
data = ([(1580, "John", "Doe", "Mars" ),
(5820, "Jane", "Doe", "Venus"),
(2340, "Kid1", "Doe", "Jupyter"),
(7860, "Kid2", "Doe", "Saturn")
])

# Setup the Data Frame
user_data_df = spark_context.createDataFrame(data)

In [3]:
# Display the Data Frame
user_data_df.show()

+----+----+---+-------+
|  _1|  _2| _3|     _4|
+----+----+---+-------+
|1580|John|Doe|   Mars|
|5820|Jane|Doe|  Venus|
|2340|Kid1|Doe|Jupyter|
|7860|Kid2|Doe| Saturn|
+----+----+---+-------+